.vscode/
lib/libft/*.o
lib/libft/ft_printf/*.o
lib/libft/ft_printf_fd/*.o
lib/libft/get_next_line/*.o
lib/libft/*.a
lib/minilibx-linux
obj/*
cub3D
cub3D_bonus
maps/bad/forbidden.cub
textures/test/forbidden.xpm